{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="card-header">
        <h3>{{title}} </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>User</th>
                    <th>Post Likes</th>
                    <th>Description</th>
                    <th>Post</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{forloop.counter}} </td>
                    <td>
                        <a href="{% url 'profile' post.user.firebase_uid %}" target='_blank'>{{post.user.get_full_name}} </a>
                        {% comment %} <p><small class="text-muted text-sm">{{post.user.firebase_uid}} </small></p> {% endcomment %}
                    </td>
                    <td>{{post.post_like.count}} </td>
                    <td>{{post.description}} </td>
                    <td>
                        <a href="{{post.post.url}}" target="_blank">View Post</a>
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>SN</th>
                    <th>User</th>
                    <th>Likes</th>
                    <th>description</th>
                    <th>Post</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}


{% block header %}
 <!-- DataTables -->
 <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock header %}


{% block scripts %}

<!-- jQuery -->
{% comment %} <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script> {% endcomment %}

<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>

{% endblock scripts %}
