{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <div class="card-header">
        <h3>{{title}} </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>User ID</th>
                    <th>Mobile Number</th>
                    <th>Subscription End</th>
                    <th>Gender</th>
                    <th>Total Posts</th>
                    <th>Total Reels</th>
                    <th>Account Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{forloop.counter}} </td>
                    <td>
                        <a href="{% url 'profile' user.firebase_uid %}" target='_blank'>
                            <img src="{{user.profile.image.url}}" class="img-circle" style="height: 30px; width: 30px;"/>
                            <span>{{user.get_full_name}}</span>
                        </a>
                        <p class="d-none"><small class="text-muted text-sm">{{user.firebase_uid}} </small></p>
                    </td>
                    <td>{{user.mobile}} </td>
                    <td>
                        {% if user.subscription_user.first %}
                            {{user.subscription_user.first.subscription_end_date|date}} 
                        {% endif %}
                    </td>
                    <td>{{user.profile.gender}} </td>
                    <td> {{user.post_user.all.count}} </td>
                    <td> {{user.reel_user.all.count}} </td>
                    <td>
                        {% if user.is_active %}
                        <span class="badge badge-success user-status" data-user-id="{{user.firebase_uid}}" data-task="deactivate">
                            Active <i class="fas fa-pen" type="button"></i>
                        </span>
                        {% else %}
                        <span class="badge badge-danger user-status" data-user-id="{{user.firebase_uid}}" data-task="activate">
                            Inactive <i class="fas fa-pen" type="button"></i>
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <i class="fas fa-trash text-danger" type="button" data-toggle="modal" data-target="#deleteModal"></i>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete {{user.get_full_name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% comment %} <div class="modal-body">
                                ...
                                </div> {% endcomment %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{% url 'delete_user' user.firebase_uid %}" type="button" class="btn btn-danger">Delete Confirm</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


{% block header %}
 <!-- DataTables -->
 <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock header %}


{% block scripts %}

<!-- jQuery -->
{% comment %} <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script> {% endcomment %}

<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
</script>
{% comment %} Custum JS for this page {% endcomment %}
<script src="{% static 'custom/user-list.js' %}"></script>

{% endblock scripts %}
