{% extends 'base/base.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}} </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Users</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="{{user.profile.image.url}}"
                     alt="DP">
              </div>

              <h3 class="profile-username text-center">{{user.get_full_name}} </h3>

              <p class="text-muted text-center">{{user.firebase_uid}} </p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Points</b> <span class="float-right text-bold">{{user.user_point.points}} <i class="fas fa-coins mr-1"></i></span>
                </li>
                <li class="list-group-item">
                  <b>Followers</b> <a class="float-right text-bold">{{follower}} </a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="float-right text-bold">{{following}} </a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="float-right text-bold">{{friends}} </a>
                </li>
              </ul>

              {% comment %} <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> {% endcomment %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong> Points </strong>
              <p class="text-muted float-right"> {{user.user_point.points}} </p>
              <hr>
              
              <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
              <p class="text-muted">{{user.profile.location}} </p>
              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
              <p class="text-muted">{{user.profile.description}}. </p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
        <!-- /.col -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#posts" data-toggle="tab">Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="#stories" data-toggle="tab">Story</a></li>
                    <li class="nav-item"><a class="nav-link" href="#reels-tab" data-toggle="tab">Reels</a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="#pointsh" data-toggle="tab">Point History</a></li> {% endcomment %}
                    {% comment %} <li class="nav-item"><a class="nav-link" href="#mlm-tab" data-toggle="tab">MLM</a></li> {% endcomment %}
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                {% comment %} Posts {% endcomment %}
                <div class="active tab-pane" id="posts">
                    {% for post in posts %}
                    <!-- Post -->
                    <div class="post col-lg-8 container-md">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" src="{{post.user.profile.image.url}}" alt="user image">
                          <span class="username">
                              <a href="#"> {{post.user.get_full_name}} </a>
                              <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                          </span>
                          <span class="description">Shared  - {{post.created_at}} </span>
                        </div>
                        <!-- /.user-block -->
                        <div class="">
                            <img class="img-fluid" src="{{ post.post.url }}"/>
                            <a href="{{ post.post.url }}" target="_blank" class=" text-sm">View media in new tab</a>
                            <p class=""> {{post.description}} </p>
                        </div>
                        <p>
                          <a href="#" class="link-black text-sm"><i class="far fa-comments mr-1"></i> Comments ({{post.post_comment.count}})</a>
                          {% comment %} <span class="float-right">
                              <a href="#" class="link-black text-sm">
                              <i class="far fa-comments mr-1"></i> Comments ({{post.post_comment.count}})
                              </a>
                          </span> {% endcomment %}
                        </p>

                        {% comment %} <input class="form-control form-control-sm" type="text" placeholder="Type a comment"> {% endcomment %}
                    </div>
                    <!-- /.post -->
                    {% endfor %}

                </div>
                <!-- /.tab-pane -->

                {% comment %} Stories {% endcomment %}
                <div class="tab-pane" id="stories">
                  <!-- The timeline -->
                  {% for story in stories %}
                  <div class="post col-lg-8 container-md">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{{story.user.profile.image.url}}" alt="user image">
                      <span class="username">
                          <a href="#"> {{story.user.get_full_name}} </a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                      </span>
                      <span class="description">Shared  - {{story.created_at}} </span>
                    </div>
                    <!-- /.user-block -->
                    <div class="">
                        <video class="img-fluid" controls>
                          <source src="{{ story.story.url }}" type="video/mp4">
                          <source src="{{ story.story.url }}" type="video/ogg">
                          Your browser does not support the video tag.
                        </video>
                        <a href="{{ story.story.url }}" target="_blank" class=" text-sm">View media in new tab</a>
                    </div>
                    <p>
                      {% comment %} <a href="#" class="link-black text-sm"><i class="far fa-comments mr-1"></i> Comments ({{post.post_comment.count}})</a> {% endcomment %}
                      {% comment %} <span class="float-right">
                          <a href="#" class="link-black text-sm">
                          <i class="far fa-comments mr-1"></i> Comments ({{post.post_comment.count}})
                          </a>
                      </span> {% endcomment %}
                    </p>

                    {% comment %} <input class="form-control form-control-sm" type="text" placeholder="Type a comment"> {% endcomment %}
                  </div>
                  {% endfor %}
                </div>
                <!-- /.tab-pane -->

                {% comment %} Reels {% endcomment %}
                <div class="active tab-pane" id="reels-tab">
                  {% for reel in reels %}
                  <!-- Post -->
                  <div class="post col-lg-8 container-md">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{reel.user.profile.image.url}}" alt="user image">
                        <span class="username">
                            <a href="#"> {{reel.user.get_full_name}} </a>
                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Shared  - {{reel.created_at}} </span>
                      </div>
                      <!-- /.user-block -->
                      <div class="">
                          {% comment %} <video class="img-fluid" src="{{ reel.reel.url }}" controls/> {% endcomment %}
                          <video class="img-fluid" controls>
                            <source src="{{ reel.reel.url }}" type="video/mp4">
                            <source src="{{ reel.reel.url }}" type="video/ogg">
                            Your browser does not support the video tag.
                          </video>
                          <p class="muted"> {{reel.description}} </p>
                      </div>
                      <p>
                        <p class="text-sm"><i class="far fa-comments mr-1"></i> Comments ({{reel.reelcomment_set.all.count}})</p>
                        {% comment %} <span class="float-right">
                            <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments ({{post.post_comment.count}})
                            </a>
                        </span> {% endcomment %}
                      </p>

                      {% comment %} <input class="form-control form-control-sm" type="text" placeholder="Type a comment"> {% endcomment %}
                  </div>
                  <!-- /.post -->
                  {% endfor %}
                </div>
                <!-- /.tab-pane -->


                {% comment %} Point History {% endcomment %}
                <div class="tab-pane" id="pointsh">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      Point History
                    </div>
                  </div>
                  <!-- /.tab-pane -->
    
                {% comment %} MLM View {% endcomment %}
                <div class="tab-pane" id="mlm-tab">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    MLM Tab
                  </div>
                </div>
                
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock content %}
