{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}} </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Users</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          {% csrf_token %}
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                  src="{{user.profile.image.url}}"
                  alt="DP"
                  style="
                    height: 100px;
                    width: 100px;
                  "
                >
              </div>

              <h3 class="profile-username text-center">{{user.get_full_name}} </h3>

              <p class="text-muted text-center">{{user.firebase_uid}} </p>

              <div>
                <span class="float-left badge">L-{{level.at_level}} ({{level.at_level_referral}} Referrals) </span>
                <span class="float-right badge">L-{{level.next_level}} ({{level.next_level_referral}} Referrals)</span>
              </div>
              <div class="progress w-100 rounded">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{level.process_to_next_percent}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{level.total_referral_user}} </div>
              </div>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Points</b> 
                  <span class="float-right text-bold">{{user.user_point.points}} <i class="fas fa-coins mr-1"></i></span>
                </li>
                <li class="list-group-item">
                  <b>Followers</b> 
                  {% if follower == 0 %}
                  <span class="float-right btn text-bold">{{follower}} </span>
                  {% else %}
                  <a class="float-right btn text-blue text-bold show-user-data" data-user-id="{{user.firebase_uid}}" data-type="followers" data-toggle="modal" data-target="#userModal" >{{follower}} </a>
                  {% endif %}
                </li>
                <li class="list-group-item">
                  <b>Following</b> 
                  {% if following == 0 %}
                  <span class="float-right btn text-bold">{{following}} </span>
                  {% else %}
                  <a class="float-right btn text-blue text-bold show-user-data" data-user-id="{{user.firebase_uid}}" data-type="following" data-toggle="modal" data-target="#userModal">{{following}} </a>
                  {% endif %}
                </li>
                <li class="list-group-item">
                  <b>Friends</b> 
                  {% if friends == 0 %}
                  <span class="float-right btn text-bold">{{friends}} </span>
                  {% else %}
                  <a class="float-right btn text-blue text-bold show-user-data" data-user-id="{{user.firebase_uid}}" data-type="friends" data-toggle="modal" data-target="#userModal">{{friends}} </a>
                  {% endif %}
                </li>
              </ul>

              <!-- Model to show Followers / Following / Friends -->
              <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    {% comment %} <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
              {% comment %} <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> {% endcomment %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
              <p class="text-muted">{{user.profile.location}} </p>
              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
              <p class="text-muted">{{user.profile.description}}. </p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
        <!-- /.col -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#posts" data-toggle="tab">Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="#stories-panal" data-toggle="tab">Story</a></li>
                    <li class="nav-item"><a class="nav-link" href="#reels-tab" data-toggle="tab">Reels</a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="#pointsh" data-toggle="tab">Point History</a></li> {% endcomment %}
                    {% comment %} <li class="nav-item"><a class="nav-link" href="#mlm-tab" data-toggle="tab">MLM</a></li> {% endcomment %}
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                {% comment %} Posts {% endcomment %}
                <div class="active tab-pane" id="posts">
                    {% for post in posts %}
                    <!-- Post -->
                    <div class="post col-lg-8 container-md">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" src="{{post.user.profile.image.url}}" alt="user image">
                          <span class="username">
                              <a href="#"> {{post.user.get_full_name}} </a>
                              <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                          </span>
                          <span class="description">Shared  - {{post.created_at}} </span>
                        </div>
                        <!-- /.user-block -->
                        <div class="">
                          {% if post.get_post_type == 'image' %}
                            <img class="img-fluid" src="{{ post.post.url }}"/>
                          {% elif post.get_post_type == 'video' %}
                            <video class="img-fluid" controls>
                              <source src="{{ post.post.url }}" type="video/mp4">
                              <source src="{{ post.post.url }}" type="video/ogg">
                              Your browser does not support the video tag.
                            </video>
                          {% endif %}
                          <p class=""> {{post.description}} </p>
                        </div>
                        <p>
                          <a href="#" class="link-black text-sm get-post-data" data-post-id="{{post.id}}" data-choice-type="comments" data-toggle="modal" data-target="#likeCommentModel">
                            <i class="far fa-comments mr-1"></i>
                            Comments ({{post.post_comment.count}})
                          </a>
                          <a href="#" class="link-black text-sm mx-2 get-post-data" data-post-id="{{post.id}}" data-choice-type="likes" data-toggle="modal" data-target="#likeCommentModel" >
                            <i class="far fa-thumbs-up mr-1"></i>
                            Likes ({{post.post_like.count}})
                          </a>
                          {% comment %} <span class="float-right">
                              <a href="#" class="link-black text-sm">
                              <i class="far fa-comments mr-1"></i> Comments ({{post.post_comment.count}})
                              </a>
                          </span> {% endcomment %}
                        </p>

                        {% comment %} <input class="form-control form-control-sm" type="text" placeholder="Type a comment"> {% endcomment %}
                    </div>
                    <!-- /.post -->
                    {% endfor %}

                </div>
                <!-- /.tab-pane -->

                {% comment %} Stories {% endcomment %}
                <div class="tab-pane" id="stories-panal">
                  <!-- The timeline -->
                  {% for story in stories %}
                  <div class="post col-lg-8 container-md">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{{story.user.profile.image.url}}" alt="user image">
                      <span class="username">
                          <a href="#"> {{story.user.get_full_name}} </a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                      </span>
                      <span class="description">Shared  - {{story.created_at}} </span>
                    </div>
                    <!-- /.user-block -->
                    <div class="">
                      {% if story.get_story_type == 'image' %}
                      <img class="img-fluid" src="{{ story.story.url }}"/>
                      {% elif story.get_story_type == 'video' %}
                      <video class="img-fluid" controls>
                        <source src="{{ story.story.url }}" type="video/mp4">
                        <source src="{{ story.story.url }}" type="video/ogg">
                        Your browser does not support the video tag.
                      </video>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <!-- /.tab-pane -->

                {% comment %} Reels {% endcomment %}
                <div class="tab-pane" id="reels-tab">
                  {% for reel in reels %}
                  <!-- Post -->
                  <div class="post col-lg-8 container-md">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{reel.user.profile.image.url}}" alt="user image">
                        <span class="username">
                            <a href="#"> {{reel.user.get_full_name}} </a>
                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Shared  - {{reel.created_at}} </span>
                      </div>
                      <!-- /.user-block -->
                      <div class="">
                          <video class="img-fluid" controls>
                            <source src="{{ reel.reel.url }}" type="video/mp4">
                            <source src="{{ reel.reel.url }}" type="video/ogg">
                            Your browser does not support the video tag.
                          </video>
                          <p class="muted"> {{reel.description}} </p>
                      </div>
                      <p>
                        <a href="#" class="link-black text-sm get-reel-data" data-reel-id="{{reel.id}}" data-choice-type="comments" data-toggle="modal" data-target="#likeCommentModel">
                          <i class="far fa-comments mr-1"></i>
                          Comments ({{reel.reelcomment_set.all.count}})
                        </a>
                        <a href="#" class="link-black text-sm mx-2 get-reel-data" data-reel-id="{{reel.id}}" data-choice-type="likes" data-toggle="modal" data-target="#likeCommentModel">
                          <i class="far fa-thumbs-up mr-1"></i> 
                          Likes ({{reel.reel_like.count}})
                        </a>
                        {% comment %} <span class="float-right">
                            <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments ({{post.post_comment.count}})
                            </a>
                        </span> {% endcomment %}
                      </p>

                      {% comment %} <input class="form-control form-control-sm" type="text" placeholder="Type a comment"> {% endcomment %}
                  </div>
                  <!-- /.post -->
                  {% endfor %}
                </div>
                <!-- /.tab-pane -->


                {% comment %} Point History {% endcomment %}
                <div class="tab-pane" id="pointsh">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      Point History
                    </div>
                  </div>
                  <!-- /.tab-pane -->
    
                {% comment %} MLM View {% endcomment %}
                <div class="tab-pane" id="mlm-tab">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    MLM Tab
                  </div>
                </div>
                
              </div>
              <!-- /.tab-content -->

              <!-- Model to show Likes / Comments of Reels and Posts -->
              <div class="modal fade" id="likeCommentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    {% comment %} <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
              <!-- /.modal -->

            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock content %}

{% block scripts %}
{% comment %} User Followers listing {% endcomment %}
<script src="{% static 'custom/user-profile.js' %}"></script>
{% endblock scripts %}
