{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="card-header">
        <h3>{{title}} </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>User</th>
                    <th>Amount </th>
                    <th>Ord Id</th>
                    <th>Payment ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for tnx in tnxs %}
                <tr>
                    <td>{{forloop.counter}} </td>
                    <td>
                        <a href="{% url 'profile' tnx.user.firebase_uid %}" target='_blank'>{{tnx.user.get_full_name}} </a>
                        <p class="d-none"><small class="text-muted text-sm">{{tnx.user.firebase_uid}} </small></p>
                    </td>
                    <td>{{tnx.amount}} </td>
                    <td>{{tnx.order_id}} </td>
                    <td>{{tnx.payment_id}} </td>
                    <td>{% if tnx.status == "SUCCESS" %}
                        <span class="badge badge-success">{{tnx.status}} </span>
                        {% elif tnx.status == "FAILED" %}
                        <span class="badge badge-danger">{{tnx.status}} </span>
                        {% else %}
                        <span class="badge badge-warning">{{tnx.status}} </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


{% block header %}
 <!-- DataTables -->
 <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock header %}


{% block scripts %}

<!-- jQuery -->
{% comment %} <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script> {% endcomment %}

<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>

{% endblock scripts %}
